/* color codes
#37466f
#99a1b6
f8f9faa1
*/



ul{
    list-style: none;
    margin: 0;
}
a,
a:hover,
a:link,
a:visited,
a:active{
    text-decoration: none;
}
body{
    overflow-x: hidden;
    overflow-y: auto;

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
/*=======topHeader=============*/
#top-bar{
    background-color: #f5f6f7;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 0px 8px 1px #ccc;
}
.subTopHeader a{
    display: inline-block;
    padding: 8px;
    color: #99a1b6;
}
#top-Header ul li{
    display: inline-block;
    padding: 8px 15px;
}
#top-Header .loginUL{
    float: right;
}
.subTopHeader li{
    border-left: 1px solid #999;
}
.subTopHeader li:last-child{
    border-right: 1px solid #999;
}
.leftSide{
    float: left;
    width: 60%;
    display: inline-block;
}
.rightSide{
    float: right;
    width: 40%;
    display: inline-block;
    text-align: center;
}
.loginUL a{
    color: #37466f;
}
#top-Header nav{
    background-color: rgba(248,249,250,0.47) !important;
    border-bottom: 1px solid rgba(204,204,204,0.32);
    box-shadow: 0px 5px 10px 1px #ccc;
}
.navbar{
    padding: .4rem 1rem;
}

.navbar-light .navbar-nav .nav-link{
    color: #37466f;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #37466f;
}
/*header*/
#header{
    background-image: url(../images/header-img.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 65vh;
    width: 100%;

    background-size: cover;
}
#header .container-fluid{
    padding: 0px;
}
#header h1{
    font-size: 28px;
    padding: 10px 0;
    margin: 30px 0;
    text-align: center;
}
.headDiv{
    background-color: #ff0000;
    color: #fff;
    width: 80%;
    margin:  0 0 0 auto;
    min-height: 350px;
    opacity: 0.7;
    border-radius: 5px;
}
#header .headDiv button{
    display: block;
    width: 200px;
    margin: 0 auto;
    border-radius: 0;
    background-color: #9814ae;
    margin-top: 20px;
    border-radius: 10px;
}
.headDiv ul{
    padding: 0;
}
.headDiv ul li{
    margin-bottom: 5px;
    padding-left: 20px;
}
.headDiv i{
    color: #9814ae;
    font-size: 30px;
}
.freeServices{
    display: inline-block;
    font-size: 18px;
    padding: 0 10px;
}
#searchBar{
    width: 100%;
    background-color: #9814ae;
    padding: 30px 20px;
    color: #fff;
}
#searchBar form{
    /*    margin: 0 auto;*/
}
.searchBarBody label{
    display: block;
    font-weight: bold;
    font-size: 18px;
}
.searchBarBody .searchWrapper{
    display: inline-block;
    position: relative;
}
.searchBarBody span{
    position: absolute;
    bottom: 12px;;
    left: 10px;
    color: #28a745;
}
.searchLocation{
    width: 35%;
}
.searchButton,
.searchWho,
.searchPropertyType{
    width: 20%;
}
#searchBar input[type='search']
{
    width: 95%;
    padding: 8px 8px 8px 35px;
    border: none;
    outline: none;
}
#searchBar select{
    width: 100%;
    outline: none;
    padding: 8px;
}
#searchBar input[type='button']
{
    padding: 8px;
    border: 0;
    background-color: #28a745;
    color: #fff;
    outline: none;
    cursor: pointer;
    width: 100%;
}
/*=========services=======*/
#services{
    /*    background: url(../images/service-section-bg.png) 100% 0 no-repeat;
        background-size: cover;
        padding: 50px  20px;
        margin-top: 100px;
    */
    background: url(../images/service-section-bg.png) 100% 0 no-repeat #f7f7f7;
    background-size: cover;
    padding: 60px 22px 70px 22px;
}
#services h2{
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    color: #3d476e;
}
.relaEstateServices p{
    font-size: 18px;
}
.servicesIcons{
    width: 40px;
    height: 40px;
    background-color: #3d476e;
    display: inline-block;
    border-radius: 100%;
    text-align: center;
    line-height: 40px;
}
.servicesIcons i{
    color: #fff;
}
.relaEstateServices ul li{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #37466f;
}
#header button,
#newsletter button,
.relaEstateServices button{
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    padding: 10px 40px;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
    outline: none;
}
.relaEstateServices .signup{
    margin-left: 20px;
}
/*=====features=====*/
#features{
    background: url(../images/features-bg.png) 100% 0 no-repeat #f7f7f7;
    background-size: cover;
    background-position-x: center;
    padding: 50px 0px;
    margin-bottom: 82px;
}
.featuresBody h4{
    font-size: 18px;
    font-weight: bold;
    color: #37466f;
    text-transform: capitalize;
    padding: 10px 0;   
}
.featuresHeading span{
    margin-right: 20px;
}
/*=======newsletter========*/
#newsletter{
    background-color: #37466f;
    padding: 30px 0;
    margin-bottom: 20px;
    color: #fff;
}
.newsletterBody{
    position: relative;
}
.newsletterBody img{
    position: absolute;
    top: 10px;
    left: 0;   
}
.newsletterBody p,
.newsletterBody h5{
    padding-left: 50px;
    font-size: 16px; 
    margin-top: 10px;
}
.newsletterBody p{
    font-weight: 100;
}
.newsletterBody input[type="text"]
{
    margin-left: 40px;
}
#newsletter button{
    margin: 0;
}
/*footer*/
footer{
    padding: 0px 20px;

}
footer ul{
    margin: 0px;
    padding: 0;
}
footer h6{
    padding: 10px 0;
    border-bottom: 4px solid #37466f;
    text-transform: uppercase;
}
footer ul li{
    margin-bottom: 5px;
}
footer ul li a:hover,
footer ul li a:link,
footer ul li a:visited,
footer ul li a:active,
footer ul li a{
    color: #37466f;
    font-size: 15px;
}
.fooLinks{
    padding-bottom: 40px;
}
#customFoo .row:last-child{
    border-top:  1px solid #ccc;
}
#customFoo .row{
    padding: 20px 0;
}
.terms li{
    display: inline-block;
    padding: 0 10px;
}
/*clientInclude*/
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 35px 0 0 20px;
}
.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
#client-Profile{
    padding: 100px 0;
    background: #fcfcfc;
    border-bottom: 1px solid #eee;
}
#client-Profile .container{
    background-color: #fff;
    padding: 40px 0 40px 40px;
    border: 1px solid #eee;
}
.clientSideBar{
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    /*    padding: 40px 30px;*/
}
.clientSideBar h3{
    font-size: 20px;
    color: #fff;
    padding: 10px 0;
    background-color: #28a745;
    text-align: center;
    border: 1px solid #28a749;
}
.clientSideBar h6{
    font-size: 16px;
    font-weight: 200;
    padding: 8px 20px;
}
.clientSideBar a,
.clientSideBar a:hover,
.clientSideBar a:visited,
.clientSideBar a:link,
.clientSideBar a:active
{
    color: #37466f;
}
.clientHeader{
    background-color: #28a745;
    margin-bottom: 40px; 
    color: #fff;
    padding: 10px;
}
.clientHeader h2{
    font-size: 20px;    
    margin-bottom: 0;
}
.clientProfileForm{
    margin-top: 40px;
}
.myProperties{
    margin-top: 50px;
}
.myProperties table thead{
    background-color: #28a745;
}
.myProperties thead th{
    color: #fff;
    font-size: 13px;
    font-weight: 100;
    padding: 0.2rem 0.4rem;
}
.table thead th{
    vertical-align: middle;
    border-bottom: none;
}
.table-bordered thead th{
    border-bottom-width: 0px;
}
.myProperties h4{
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: #37466f;
    padding: 10px 0;
}
.dataTables_length{
    padding: 10px;
    font-size: 15px;
}
.dataTables_length select{
    width: 100px;
    padding: 5px 10px;
    border-radius: 10px;
    outline: none;
}
#example_filter{
    padding: 0 20px 0 0;
}
#example_filter input[type='search']
{
    border-radius: 10px;
    border: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    outline: none;
}
.myProperties a{
    display: inline-block;
}
.myProperties .fa-edit{
    color: #28a745;
    font-size: 18px;
}
.myProperties .fa-eye{
    margin: 0 5px;
    color: #9814ae;
}
.myProperties .fa-recycle{
    color: #ff0000;
}
.myPropertyType{
    /*    width: 80%;*/
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    height: 150px;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}
.myPropertyType span{
    display: inline-block;
    padding: 0 10px 0 0;
}
.myPropertyType .count{
    font-size: 50px;
    font-weight: 900;
}
.mypropertyBody .row:first-child{
    margin-bottom: 10px;
}
.propertyRooms{
    background-color: #28a745;
}
.propertyFlats{
    background-color: #ff0000;
}
.propertyPG{
    background-color: #9814ae;
}
.propertyHostels{
    background-color: #37466f;
}
/*add new property page*/
#addNewProperty{
    padding: 40px 20px;
    background-color: #fcfcfc;
    border-bottom: 1px solid #eee;
}
#addNewProperty .container-fluid{
    background-color: #fff;
    border: 1px solid #eee;
    padding: 40px 20px;
}
.propDetails{
    background-color: #fcfcfc;
    border: 1px solid #eee;  
}
.propDetails form{
    padding: 30px;
}
.propDetails h4{
    background-color: #28a745;
    padding: 10px;
    color: #fff;
    font-size: 17px;
    text-transform: capitalize;   
}
.customRadio label{
    padding: 10px 0;
    display: inline-block;
    margin-right: 10px;
}
.allCheckBox label{
    display: inline-block;
    padding: 10px;
    width: 33%;
}
.allCheckBox input[type='checkbox']
{
    margin-left: 5px;
}
.addPropBtn{
    width: 30%;
    margin: 30px auto 0 auto;
}
/*====================Index page single listing layout we have to shift to another page ========================*/


#page2Header{
    background-image: url(../images/2nd-page-header.jpg);
    position: relative;
    padding: 130px 0px 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#page2Header:before{
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(26,29,31,0.70);
}
#page2Header h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;   
}
#recentadded h3{
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px 0;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;   
}
#recentadded .recentBorder{   
    padding: 10px 0 !important;
}
#recentadded .col-md-4{
    padding-right: 0;
}
#recentadded h5{
    font-size: 12px;
    margin-bottom: 0px;
    padding: 0 0 3px 0;    
}
#recentadded h6{
    font-size: 12px;
    font-weight: normal;
}
#recentadded span{
    font-size: 12px;
    background-color: #ec5963;
    color: #fff;
    padding: 4px 10px;
    margin-bottom: 5px;
    display: inline-block;
}
#allPropList{
    /*    padding: 10px;*/
    margin-top: 40px;
    background: #fcfcfc;
    width: 100% !important;
}
#allPropList .container-fluid{
    background-color: #fff;
    padding: 40px 10px;
    width: 98% !important;
    border: 1px solid #eee;    
}
.bodyAllPropList .row{
    margin-bottom: 30px;  
}
.propDiv{
    background-color: #fcfcfc;
    border: 1px solid #eee;
    box-shadow: 0px 0px 15px 1px #eee;
}
.propImgDiv{
    height: 300px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    opacity: .8;
}
.propImgDiv img{
    height: 100%;
    width: 100%;
}
.propImgDiv:hover{
    opacity: 1;
    transition-timing-function: ease-in-out;
    transition: 1s;   
}
.topDivImg{   
    position: absolute;
    top: 0;
    z-index: 999;
    right: 0;
    width: 100%;
    display: block;
    font-size: 13px;
    padding: 0px;
    overflow: hidden;
    height: 100px;
    /*   we have to remove this one*/
}
.topDivImg span{
    color: #fff;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 3px;
}
.topDivImg .property-badge{
    float: right;
    background-color: #28a745;
    top: 15px;
    right: 15px;
    position: absolute;
}
.topDivImg .property-for{
    float: left;
    background-color: #ff0000;
    top: 15px;
    left: 15px;
    position: absolute;
}
.bottomDivImg{
    position: absolute;
    z-index: 99;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 25px 30px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.propIntro{
    border-bottom: 5px solid #ff0000;
}
.propAni{
    /*    padding: 15px 0;*/
    border-bottom: 1px solid #eee;
}
.propIntro ul{
    padding: 0; 
}
.propIntro ul li{
    /*    display: inline-block;*/
    padding: 8px 10px;
    float: left;
    /*    border: 1px solid #ff0000;*/
    width: 33.33%;
    font-size: 12px;
    font-weight: bold;
    box-sizing: border-box;
}
.propIntro .propIcons{
    color: rgba(0,0,0,0.7);
    display: inline-block;
    margin-right: 5px;
}
.propBookingDiv{
    width: 100% ! important;
    box-sizing: border-box;
    background-color: #fff;
}
.propBookingDiv .listing-view{
    float: left;
    border-right: 1px solid #eee;
}
.propBookingDiv .listing-booking{
    float: right;    
}
.propBookingDiv a{
    display: block;
    color: #9814ae;
    text-decoration: none;
    text-align: center;
    padding: 10px 40px;
}
/*searchBarSide*/

.searchBarInclude{
    margin-bottom: 20px;  
}
.searchBarInclude label{
    font-size: 13px;
    font-weight: bold;
    color: #999;
    margin-left: 5px;
}
.searchBarInclude h5{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px dashed #ccc;
    padding:0 0 20px 0;   
}
.searchBarInclude select,
.searchBarInclude input[type="number"],
.searchBarInclude input[type="text"]
{
    border-radius: 0;
    outline:none;   
}
#recentadded,
.searchBarInclude{
    background-color: #fcfcfc;
    box-shadow: 0px 0px 6px 1px #ccc;
    padding: 20px 10px;
}
.filter-search{
    width: 100%;
    background-color: #ec5963;
    color: #fff;
    outline: none;
    border: 0;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    padding: 14px 0;
    transition: all ease 0.3s;
    cursor: pointer;
}
.filter-search:hover{
    opacity: .9;
}





/*thrid page layout*/

#viewFullProp{
    background-image: url(../images/6601c80f-f187-4fb5-b758-cfb87104f41c.jpg);
}

#viewFullProp{
    position: relative;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 60%;

    height: 60vh;
}

#viewFullProp:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0,0,0,0.57)));
}
#viewFullBody .container-fluid{
    background-color: #fcfcfc ;
    padding: 25px 20px;
}
.leftViewFullBody{
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 0 0 10px 1px #eee;
}
.leftViewFullBody ul{
    /*    padding: 0;*/
}
.leftViewFullBody .propItems li{
    width: 25%;
    display: inline-block;
    margin-bottom: 5px;
    box-sizing: border-box;
    padding: 10px 0;
}
.leftViewFullBody h3{
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 0px 15px;
    margin-top: 20px;
}
#viewFullProp{
    position: relative;
}
.headerInfo{
    position: absolute;
    bottom: 20px;
    left: 10%;
    color: #fff;
}
.headerInfo .viewPropAddress{
}
.headerInfo h1{
    font-size: 28px;
    color: #fff;
}
.headerInfo h2{
    font-size: 18px;
}
.headerInfo .rent{
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
}
.viewPropDetails{
    border-bottom: 1px solid #eee;
}
.viewPropDesc{
    font-size: 14px;
    padding: 15px 30px 40px 15px;;
    border-top:  1px solid #eee;
    border-bottom:  1px solid #eee;
    background-color: #fff;
}
.viewPropDesc ul li{
    margin-bottom: 10px;
    /*    padding: 10px 0;*/
}
.viewPropDesc ul li:before{
    content: "\f058";
    font-family: 'FontAwesome';
    margin-right: 5px;
    font-size: 18px;
    color: #ec5963;
}
.viewPropDesc p{    
    padding:15px 40px;
}
.viewPropFeatures{
    background-color: #f8f8f8;
    padding: 30px 0 0 0;   
}
.propFeatures{
    background-color: #fff;
    border-top: #000;
    padding: 30px;
    border-top: 1px solid #eee;    
}
.rightViewFullBody{   
    position: relative;
    /*    top: -50px;*/
    margin-top: -50px;
    background-color: #fff;
    -webkit-transition: top .3s ease-in-out;
    transition: top .3s ease-in-out;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.05), 0px 1px 10px 0px transparent;
    -moz-box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.05),0px 1px 10px 0px transparent;
}
.bookNow{
    padding: 20px;
}
.bookNow h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    color: #48b39b;
    border-bottom: 1px solid #48b39b;
    padding: 0 0 30px 0;
    text-transform: uppercase;
    font-weight: bold;
}
.bookNow .refCode{
    position: relative;
    width: 100%;
}
.bookNow label{
    color: #999;
}
.scheduleBtn{
    background-color: #f25362;
    border-color: #f25362;
    padding: 9px 0;
    font-weight: bold;
    border-radius: 2px;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    border: none;
    outline: none;   
    cursor: pointer;    
}
.bookNow .form-group{
    margin-bottom: 2rem;
}
.bookNow .input-group-addon
{
    background-color: transparent;
    border: none;
}
.bookNow input[type]
{
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;   
}
.bookNow input[type='text']{
    outline: none;    
}
.bookNow .form-control:focus{
    border-color:#f25362;
    box-shadow: none;
}
.refbtn{
    background-color: #f25362;
    color: #fff;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 9px;
    font-weight: bold;
    font-size: 12px;
    outline: none;
    z-index: 999;
    cursor: pointer;
}

/*login page*/

#login-register{
    background-color: #fcfcfc;
    padding: 50px 100px;
    border-bottom: 1px solid #eee;
    color: #999;
}
#login-register .container{
    background-color: #fff;
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0px 0px 5px 1px #ccc;
}


#login-register h2{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #ccc;

}

.WhyRegister{
    /*    padding: 0 30px;*/
}

.WhyRegister span{
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;

}

.WhyRegister i{
    font-size:20px;
}

.WhyRegister ul li{
    margin-bottom: 10px;

}


.register{
    position: relative;
}

.WhyRegister::after{
    content: "";
    display: block;
    width: 3px;
    background-color: #ec5963;
    height: 100%;
    position: absolute;
    
    top: 0;
    bottom: 0;
    right: 0;
}

.register a
.register a:hover,
.register a:link,
.register a:visited,
.register a:active
{
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #fff;
}

